# 复制本文件为 .env 后填写（.env 已被 gitignore，不会泄进仓库）

# 必填：模型厂商的 API Key
OPENAI_API_KEY=

# 可选：OpenAI 兼容接口地址，默认 DeepSeek
#   DeepSeek    https://api.deepseek.com
#   OpenAI      https://api.openai.com/v1
#   月之暗面    https://api.moonshot.cn/v1
#   智谱        https://open.bigmodel.cn/api/paas/v4
#   阿里百炼    https://dashscope.aliyuncs.com/compatible-mode/v1
OPENAI_BASE_URL=https://api.deepseek.com

# 可选：模型名，默认 deepseek-chat
GAME_MODEL=deepseek-chat

# 可选：游戏主持人设定（你玩法的核心提示词）
SYSTEM_PROMPT=
